* {
    box-sizing: border-box;
    margin: 0px;
}

.body {
    font-family: OpenSans;
}

.banner-wrap {
    background-image: url("./assets/netflix-background.jpg");
    height: 100vh;
 }

.logo {
    height: 100px;
}
